body {
    margin: 0;
    padding: 0;
    font-size: 1.5vh;
}

#phone {
    font-family: Arial, sans-serif;
    display: none;
    position: fixed;
    right: -3%;
    bottom: -250%;
    width: 23em;
    height: 28em;
    user-select: none;
    transition: botttom 1s;
    z-index: 500;
}
/* 
width: 20%;
height: 40%; */



#phone_bg {
    position: relative;
    width: 80%;
    height: 147%;
    z-index: 60;
    pointer-events: none;
}

#phone_container {
    position: relative;
    top: -133%;
    left: 1%;
    width: 77.5%;
    height: 120%;
    background-color: white;
    background: url('https://media.istockphoto.com/photos/blue-abstract-background-or-texture-picture-id1138395421?k=6&m=1138395421&s=612x612&w=0&h=bJ1SRWujCgg3QWzkGPgaRiArNYohPl7-Wc4p_Fa_cyA=');
    background-size: 10px 10px;
    overflow: hidden;
}

#phone_shadow {
    position: relative;
    width: 100%;
    height: 100%;
    transition: background-color 1s;
}

#phone_timebar {
    position: relative;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 50;
}

#phone_time {
    position: relative;
    color: white;
    text-align: center;
    margin: auto;
    top: 25%;
}

#phone_apps {
    position: relative;
    width: 100%;
    height: 95%;
    max-height: 95%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#phone_apps::-webkit-scrollbar {
    display: none;
}

#phone_app {
    position: relative;
    display: inline-block;
    margin-left: 6%;
    margin-top: 5%;
    width: 3.2em;
    height: 3.2em;
}

#phone_app_image {
    position: relative;
    width: 100%;
}

#phone_messages {
    position: relative;
    width: 100%;
    height: 100%;
}

#phone_newmessage {
    position: relative;
    margin-top: 5%;
    width: 60%;
    height: 5%;
    left: 20%;
    margin-bottom: 10%;
    font-size: 1.5vh;
    border: none;
    outline: none;
}

#phone_newtext {
    position: absolute;
    width: 85%;
    left: 7.5%;
    top: 20%;
    height: 60%;
    background-color: rgba(255, 255, 255, 1.0);
}

#phone_newtext_number {
    position: relative;
    width: auto;
    /* font-size: 1.5vh; */
    width: 20%;
    color: blue;
    margin: 5%;
}

#phone_newtext_number_input {
    position: absolute;
    margin: 5%;
    left: 30%;
    top: 0%;
    text-align: left;
    width: 60%;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
    border-bottom: solid;
    border-width: 0.1vh;
    height: auto;
}

#phone_newtext_number_input:focus {
    border-color: blue;
}

#phone_newtext_message {
    position: relative;
    width: auto;
    top: 8%;
    /* font-size: 1.5vh; */
    width: 20%;
    color: blue;
    margin: 5%;
}

#phone_newtext_message_input {
    position: relative;
    margin: 5%;
    text-align: left;
    width: 90%;
    height: auto;
    top: 7.5%;
    max-height: 65%;
    /* font-size: 1.5vh; */
    color: rgb(0, 0, 0);
    border-bottom: solid;
    outline: none;
    resize: none;
    overflow-y: scroll;
    border-bottom: solid;
    border-width: 0.1vh;
    overflow: hidden;
    transition: border-color 0.25s;
}

#phone_newtext_message_input:focus {
    border-color: rgb(17, 137, 153);
}

#phone_newtext_message_input:hover {
    border-color: rgb(16, 148, 76);
}

#phone_sendmessage {
    position: absolute;
    top: 110%;
    width: 100%;
    height: 10%;
    left: 0%;
    background-color: rgba(255, 255, 255, 1.0);
    border: none;
    outline: none;
}

.phone_message_selector {
    position: relative;
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2px white,  0 0 2px white,  0 0 2px white;
}

#phone_contacts_search {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2px white,  0 0 2px white,  0 0 2px white;
    color: white;
    resize: none;
    /* font-size: 1.5vh; */
}

#phone_message_image {
    position: relative;
    width: 10%;
    top: 5%;
    left: 5%;
}

#phone_message_call {
    position: relative;
    width: 8%;
    top: 0%;
    left: 75%;
}

#phone_message_name {
    position: absolute;
    text-align: left;
    left: 18%;
    color: white;
    top: -25%;
}

#phone_messages_container {
    position: relative;
    width: 100%;
    height: 24em;
    max-height: 24em;
    overflow-y: scroll;
}

#phone_messages_container::-webkit-scrollbar {
    display: none;
}

.phone_message_me {
    position: relative;
    font-family: Arial, sans-serif;
    float: right;
    margin-top: 0.15em;
    right: 5%;
    width: auto;
    max-width: 80%;
    height: auto;
    color: white;
    background-color:rgb(12, 143, 204);
    text-align: left;
    overflow: break-word;
    overflow-wrap: anywhere;
    border-style: solid;
    overflow-x: hidden;
    border-color: rgb(12, 143, 204);
    border-width: 0.5em;
    border-radius: 0.5em;
}

.phone_message_other {
    position: relative;
    font-family: Arial, sans-serif;
    float: left;
    margin-top: 0.15em;
    width: auto;
    left: 5%;
    max-width: 80%;
    color: black;
    background-color:white;
    text-align: left;
    overflow: break-word;
    overflow-x: hidden;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
    border-radius: 0.5em;
}

#phone_messages_message {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#phone_message_input {
    position: absolute;
    font-family: Arial, sans-serif;
    width: 90%;
    left: 5%;
    bottom: 5%;
    height: auto;
    font-size: 1.5vh;
    max-height: 10%;
    max-height: 15%;
    border: none;
    outline: none;
    resize: none;
    background-color: rgba(223, 219, 219, 0.466);
    color: white;
    border-bottom: solid;
    border-width: 0.1vh;
    overflow: hidden;
    transition: border-color 0.25s;
}

#phone_message_input:focus {
    border-color: rgb(9, 226, 255);
}

#phone_message_input:hover {
    border-color: rgb(9, 255, 120);
}

#phone_message_whoimage {
    position: absolute;
    width: 7.5%;
    bottom: 0%;
}

#phone_message_whoname {
    position: relative;
    font-size: 1em;
    color: white;
    text-align: center;
    top: 2.2em;
}

#phone_messages_who {
    position: relative;
    top: -3%;
    width: 100%;
    height: 3.5em;
    background-color: var(--main-content);
}

#phone_message_input::-webkit-scrollbar {
    display: none;
}

#phone_contacts {
    position: relative;
    width: 100%;
    height: 100%;
}

#phone_newcontact {
    position: relative;
    margin-top: 5%;
    width: 60%;
    height: 5%;
    left: 20%;
    font-size: 1.5vh;
    margin-bottom: 10%;
    border: none;
    outline: none;
}

#phone_newcontact_name {
    position: relative;
    width: auto;
    /* font-size: 1.5vh; */
    width: 20%;
    color: blue;
    margin: 5%;
}

#phone_newcontact_name_input {
    position: absolute;
    margin: 5%;
    left: 30%;
    top: 10%;
    text-align: left;
    font-size: 1.5vh;
    width: 60%;
    /* font-size: 1.5vh; */
    color: rgb(0, 0, 0);
    height: auto;
    border: none;
    outline: none;
    border-bottom: solid;
    box-sizing: border-box;
    display: block;
    border-width: 0.1vh;
}

#phone_newcontact_name_input:focus {
    border-color: blue;
}

#phone_message_delete_true {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 10%;
    top: 70%;
    background-color: yellowgreen;
    color: black;
    outline: none;
    padding: none;
}

#phone_message_delete_false {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 10%;
    top: 85%;
    background-color: rgb(205, 60, 50);
    color: white;
    outline: none;
    padding: none;
}

#phone_echat_container {
    position: relative;
    width: 100%;
    height: 29em;
    max-height: 29em;
    overflow-y: scroll;
}


#phone_echat_container::-webkit-scrollbar {
   display: none;
}

#phone_echat_message {
    position: relative;
    width: auto;
    max-width: 80%;
    margin-top: 1%;
    background-color: teal;
    border-style: solid;
    border-color: teal;
    border-width: 1vh;
    color: white;
    overflow: break-word;
    overflow-wrap: anywhere;
}

#phone_echat_input {
    position: absolute;
    font-family: Arial, sans-serif;
    width: 90%;
    left: 5%;
    bottom: 5%;
    height: auto;
    font-size: 1.5vh;
    min-height: 10%;
    max-height: 25%;
    border: none;
    outline: none;
    resize: none;
    background-color: rgba(223, 219, 219, 0.466);
    color: white;
    border-bottom: solid;
    border-width: 0.1vh;
    overflow-y: scroll;
    transition: border-color 0.25s;
}

#phone_echat_input::-webkit-scrollbar {
    display: none;
}

#phone_echat_input:focus {
    border-color: rgb(9, 226, 255);
}

#phone_echat_input:hover {
    border-color: rgb(9, 255, 120);
}

#phone_contact_delete {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
    height: 10%;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    background-color: tomato;
}

#phone_bank_account {
    position: relative;
    width: 100%;
    height: 7.5%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2px white,  0 0 2px white,  0 0 2px white;
    overflow: hidden;
}

#phone_bank_account_name {
    position: relative;
    white-space: nowrap;
    color: white;
    float: left;
    top: -20%;
    left: 15%;
    width: 40%;
    max-width: 40%;
    max-height: 100%;
    overflow: hidden;
}

#phone_bank_account_balance {
    position: relative;
    white-space: nowrap;
    color: white;
    float: right;
    top: -20%;
    right: 5%;
    width: 40%;
    max-width: 40%;
    max-height: 100%;
    overflow: hidden;
    text-align: right;
}

#phone_vehicles {
    position: relative;
    width: 100%;
    height: 7.5%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2px white,  0 0 2px white,  0 0 2px white;
    overflow: hidden;
    transition: height 0.5s
}

#phone_vehicles_name {
    position: relative;
    white-space: nowrap;
    color: white;
    float: left;
    top: -0.7vh;
    left: 15%;
    width: 40%;
    max-width: 40%;
    max-height: 100%;
    overflow: hidden;
}

#phone_vehicles_garage {
    position: absolute;
    white-space: nowrap;
    color: white;
    float: left;
    bottom: -16%;
    left: 2%;
    width: auto;
    max-height: 100%;
    overflow: hidden;
}

#phone_vehicles_parked {
    position: absolute;
    white-space: nowrap;
    color: white;
    float: left;
    bottom: 4%;
    left: 2%;
    width: auto;
    max-height: 100%;
    overflow: hidden;
}

#phone_vehicles_model {
    position: absolute;
    white-space: nowrap;
    color: white;
    float: left;
    bottom: 28%;
    left: 2%;
    width: auto;
    max-height: 100%;
    overflow: hidden;
}

#phone_vehicles_img {
    position: absolute;
    width: 10%;
    left: 2%;
    top: 0.2vh;
}


#phone_fleeca_img {
    position: absolute;
    width: 10%;
    top: 10%;
}

#phone_error {
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: rgb(224, 178, 178);
    height: auto;
    border-style: solid;
    border-width: 10%;
    font-size: 2vh;
    border-color: rgb(224, 178, 178);
    text-align: center;
    color: black;
}

#phone-tentac-create {
    position: relative;
    width: 100%;
    height: 80%;
    top: 5%;
    background-color: rgba(85, 71, 85);
}

#phone-tentac-title {
    position: relative;
    top: 5%;
    font-size: 2vh;
    color: white;
    text-align: center;
}

#phone-tentac-nameinput {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 10%;
    border: none;
    outline: none;
    border-bottom: solid;
    background: none;
    color: white;
    font-size: 1.75vh;
    border-width: 1px;
}::placeholder {
    color: rgb(212, 212, 212);
}

#phone-tentac-newuser {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 5%;
    height: 10%;
    border: none;
    outline: none;
    background-color: rgb(126, 99, 126);
    color: white;
}

#phone-tentac-container {
    position: relative;
    width: 100%;
    height: 29em;
    max-height: 29em;
    overflow-y: scroll;
}::-webkit-scrollbar {
    display: none;
}

#phone-tentac-message-container {
    position: relative;
    margin-top: 2%;
    width: 90%;
    left: 5%;
    height: auto;
    word-break: break-word;
    background-color: rgb(126, 99, 126);
}

#phone-tentac-message {
    color: white;
    padding: 5px;
    font-size: 1.5vh;
}

#phone-tentac-author {
    color: rgb(170, 169, 169);
    font-size: 1.2vh;
    text-align: right;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 2%;
}

#phone-tentac-warning {
    position: relative;
    margin-top: 2%;
    color: white;
    font-size: 1.1vh;
    text-align: center;
}

.unread {
    background-color: rgba(44, 170, 44, 0.562);
}

#phone-icons {
    position: fixed;
    width: 20%;
    height: 10%;
    right: 0%;
    bottom: -4%;
    pointer-events: none;
}

#phone_iconimg {
    z-index: -500;
    float: right;
    width: 3vw;
    height: 3vw;
    margin-right: 1%;
}

#tentac_iconimg {
    z-index: -500;
    float: right;
    width: 3vw;
    height: 3vw;
    margin-right: 1%;
}

.phone-tentac-reply {
    position: absolute;
    width: 7.5%;
    bottom: 2%;
    fill: white;
}

#alpha {
    position: absolute;
    width: 3vh;
    height: 3vh;
    top: 1vh;
    left: 1vh;
}

.alpha {
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 5vh;
    line-height: 5vh;
    text-shadow: -0.1vh 0 black, 0 0.1vh black, 0.1vh 0 black, 0 -0.1vh black;
}

#phone_notif {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.phone_notif {
    position: relative;
    top: 0%;
    left: 5%;
    width: 90%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1em;
    pointer-events: all;
    max-height: 3em;
    overflow: hidden;
    margin-bottom: 0.25em;
}

.phone_notif_icon {
    position: relative;
    width: 10%;
    left: 5%;
    top: 0.75em;
}

.phone_notif p {
    position: relative;
    color: white;
    font-size: 0.75em;
    left: 2em;
    top: -1.9em;
    margin-left: 2em;
    word-wrap: break-word;
    width: 80%;
    max-width: 60%;
    line-height: 1em;
    overflow: hidden;
    max-height: 2em;
}

.phone_accept {
    position: absolute;
    right: 2.5em;
    top: 0.5em;
    color: lightgreen;
}

.phone_deny {
    position: absolute;
    right: 1em;
    top: 0.5em;
    color: rgb(255, 96, 96);
}

#phone_message_container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
}

#phone_message_header {
    position: relative;
    width: 100%;
    height: 2em;
    border-bottom: 0.1em solid black;
}

#phone_message_header p {
    position: relative;
    left: 1em;
    color: white;
    font-size: 1.25em;
}

.phone_message {
    position: relative;
    margin-top: 0.25em;
    width: 90%;
    left: 5%;
    height: 3em;
    background-color: var(--main-content);
    border-radius: 0.5em;
    overflow: hidden;
}

.phone_message_icon {
    position: relative;
    font-size: 2em;
    top: 0.25em;
    left: 0.25em;
    color: lightgray;
}

.phone_message p1 {
    position: absolute;
    color: white;
    left: 3em;
    top: 0.25em;
}

.phone_message p2 {
    position: absolute;
    color: white;
    left: 4em;
    font-size: 0.75em;
    bottom: 0.3333333em;
    max-height: 1em;
    overflow: hidden;
}

.phone_message_new {
    position: absolute;
    top: 0em;
    color: white;
    right: 1em;
}

#phone_newmessage_header {
    position: relative;
    width: 90%;
    left: 5%;
    top: 0%;
    height: 2em;
    background-color: var(--main-content);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#phone_newmessage_header p {
    position: relative;
    color: white;
    text-align: center;
    top: 0.5em;
}

.phone_newmessage_to {
    position: relative;
    width: 90%;
    font-size: 1em;
    left: 5%;
    color: white;
    height: 2.5em;
    border: none;
    outline: none;
    background-color: var(--main-content);
    border-top: solid 0.1em rgba(211, 211, 211, 0.151);
}

.phone_messagebar {
    position: absolute;
    bottom: 0.01em;
    font-family: Arial, sans-serif;
    width: 85%;
    left: 2%;
    height: auto;
    margin: 1em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    background-color: var(--main-content);
    padding: 0.25em;
    color: white;
    max-width: 90%;
    max-height: 5em;
    overflow-y: scroll;
}

.phone_newmessage_to::-webkit-inner-spin-button {
    display: none;
}

.phone_message_head {
    position: absolute;
    font-size: 1.5em;
    top: 0.2em;
    color: white;
    left: 5.5em;
}

#phone_contacts_new {
    position: absolute;
    bottom: -11.2em;
    width: 100%;
    height: 11.2em;
    background-color: var(--main-bg);
    border-top: 0.2em solid var(--main-content);
}

#phone_contacts_new p {
    color: white;
    text-align: center;
    background-color: var(--main-bg);
}

#phone_contacts_new hr {
    opacity: 0.2;
    background-color: var(--main-bg);
}

.phone_contact_container {
    position: relative;
    margin-left: 10%;
    color: white;
    display: inline-block;
    text-align: right;
    width: 20%;
    height: 1.5em;
    background-color: var(--main-bg);
}

.phone_contact_input {
    position: relative;
    border: none;
    outline: none;
    background: none;
    color: white;
    background-color: var(--main-lighter);
    width: 60%;
    padding: 0.25em;
    border-radius: 0.5em;
}

.phone_contact_deny {
    position: absolute;
    font-size: 2em;
    left: 2em;
    top: 4em;
    color: rgb(255, 96, 96);
    background-color: var(--main-bg);
}

.phone_contact_accept {
    position: absolute;
    font-size: 2em;
    right: 2em;
    top: 4em;
    color: lightgreen;
    background-color: var(--main-bg);
}

.shorter {
    top: 2em;
}

.phone_message p4 {
    position: relative;
    left: 0.5em;
    color: white;
}

.phone_tentac_reply {
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    color: white;
}

#home_button {
    position: absolute;
    bottom: -11em;
    width: 2em;
    height: 1.5em;
    left: 8em;
    z-index: 600;
}

.phone_image {
    position: relative;
    width: 80%;
    left: 10%;
    padding-bottom: 1em;
    overflow: hidden;
}

#imghider {
    position: fixed;
    width: 60%;
    height: 60%;
    max-width: 60%;
    max-height: 60%;
    display: none;
    pointer-events: none;
}

.spoiler {
    filter: blur(10px);
}

.phonetool {
    background-color: var(--main-bg);
    border-radius: 0.5em;
    color: white;
    font-size: 0.75em;
    text-shadow: none;
    outline: none;
    box-shadow: none;
    border-color: var(--main-bg);
}

.phone_ping::-webkit-inner-spin-button {
    display: none;
}

.phone_ad_inut {
    position: absolute;
    border: none;
    outline: none;
    background: none;
    color: white;
    background-color: var(--main-lighter);
    min-width: 80%;
    width: 80%;
    padding: 0.25em;
    border-radius: 0.5em;
    left: 10%;
    height: 3em;
    overflow: scroll;
}

.phone_ad {
    position:relative;
    width: 80%; 
    left: 10%;
    height:auto; 
    min-height: 3em; 
    max-width: 80%;
    background-color: var(--main-content); 
    color:white; 
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    word-wrap: break-word;
}

.phone_ad_bottom {
    font-size: 0.8em;
    box-sizing:border-box; 
    width:49%;
    height:2em;
    display:inline-block;
    margin: 0;
    padding: 0;
    border-right: solid 0.1em var(--main-bg);
    border-top: solid 0.1em var(--main-bg);
    overflow: hidden;
}

#phone_notifications {
    position: absolute;
    right: 1em;
    top: 0.5em;
    width: 1em;
    max-width: 1em;
    max-height: 1em;
    height: 1em;
    background-color: rgba(24, 168, 48, 0.616);
    box-sizing: border-box;
    border: 0.1em solid;
    border-radius: 5em;
    z-index: 51;
}

#notif_history {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 94%;
    opacity: 0.0;
    pointer-events: none;
    user-select: none;
    overflow-y: scroll;
}

.housing_toggle, .housing_find, .property_buy {
    position: relative;
    margin-top: 1em;
    width: 60%;
    height: 2em;
    background: none;
    border: 0.1em solid var(--main-lighter);
    background-color: var(--main-content);
    color: white;
    left: 20%;
    box-sizing: border-box;
    border-radius: 5em;
}

.property_title {
    position: relative;
    color: white;
    font-size: 1.25em;
    text-align: center;
    background-color: var(--main-content);
    box-sizing: border-box;
    padding: 1em;
    margin-top: -0.25em;
}

.property_price {
    position: relative;
    color: white;
    font-size: 1.1em;
    margin-left: 1em;
}

#hider {
    opacity: 0.0;
    user-select: none;
}

.camera {
    position: relative;
    width: 100%;
    height: 100%;
}

.photo {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 33.33333%;
    border: 0.1vh solid var(--main-lighter);
}

.photo img {
    width: 100%;
}

.photo .footer {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0%;
    background-color: black;
    opacity: 0.0;
    transition: opacity 0.5s;
}

.photo .trashing {
    position: absolute;
    height: 100%;
    color: gray;
    top: 0.2vh;
    left: 20%;
}

.photo .trashing:hover {
    color: white;
}

.photo .copying {
    position: absolute;
    height: 100%;
    color: gray;
    top: 0.2vh;
    right: 20%;
}

.photo .copying:hover {
    color: white;
}

.phone_photos {
    position: relative;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.property_container {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
}

.input_containerx {
    position: relative;
    width: 100%;
}

.input_field {
    outline: none;
    border: none;
    border-bottom: 0.1vh solid gray;
    background: none;
    color: white;
    margin-left: 3vh;
    width: 70%;
}

.input_img {
    position: absolute;
    width: 1.5vh;
    left: 0%;
    border: 0.05vh solid white;
    bottom: 0.1vh;
    border-radius: 50vh;
}

#phonebgimage {
    position: relative;
    width: 90%;
    left: 10%;
    margin-top: 3vh;
}

.vehicles_lojack {
    background: none;
    border: 0.1vh solid var(--main-lighter);
    color: white;
    border-radius: 5vh;
}

#app_containerx {
    position:absolute;
    top: 110%;
    left: 0vh;
    width:100%;
    height: 100%;
    opacity: 1.0;
    background: var(--main-bg);
    transition: opacity 0.5s, bottom 0.5s;
    pointer-events: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

#app_container {
    position:absolute;
    top: 5%;
    left: 0vh;
    width:100%;
    height: 95%;
    max-height: 95%;
    opacity: 1.0;
    overflow-y: hidden;
    overflow-x: hidden;
}